layout: simple
extends: default.liquid
title: 'ProKo statt GroKo - Jetzt Unterschreiben'
---

<div class="" style="background-color: #1e9890">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-2">
          <a href="/">
            <img src="/assets/images/logos/proko.png" class='w-100' alt="Logo der Progressiven Koaltion: ein Kreis aus bunten, überlappenden Streifen, daneben der Text 'Progressive Koalition'" />
          </a>
        </div>
      </div>
    </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col text-center mt-3">
          <p>An: <strong>die Abgeordneten von CDU, CSU und SPD</strong></p>
      
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col-md-5" >
      <p>
        Wir fordern eine progressive Agenda für Deutschland, Europa und die Welt
Wachsende Ungleichheit, Klimawandl und technologische Umwälzungen. Die Herausforderungen für Politik und Gesellschaft sind riesig.
      </p>
      <p>
        Doch was passiert in Berlin? Ein halbes Jahr vergeht nach der Bundestagswahl ohne Regierungsbildung. Mutlos stolpern Union und SPD in eine Fortsetzung der Großen Koalition. Inspiration, neue Impulse, Visionen? Fehlanzeige!
      </p>
      <p>Dabei gibt es zahlreiche Ideen, um die Herausforderungen unserer Zeit zu meistern.<br>
      Wir wollen zeigen, dass die Politik der Großen Koalition nicht alternativlos ist. Im Progressiven Koalitionsvertrag haben wir deshalb Forderungen aus Initiativen, Verbänden und Parteien zusammengetragen. Unsere Alternative heißt Progressive Koalition. #ProKo statt #GroKo!</p>
      <p>Zur Regierungsbildung übergeben wir den Vertrag an Union und SPD. Lass uns zeigen, dass wir viele sind!</p>
    </div>
    <div class="col-md-5">
      <div class="border" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px">
        <div class="p-4 text-white"   style="background-color: #238c84">
          <p class="m-0">
          Erarbeitet eine progressive Agenda für Deutschland, Europa und die Welt!</p>
        </div>
        <div class="pb-2 pt-2" style="background: rgb(230, 230, 230); font-size: 0.7em">
          <div class="p-3">
            <strong class="text-muted"><span id='js-cur_label'>12.450</span> Unterschriften</strong><br/>
            <p class="m-0 text-right">
              noch <span id='js-remaining'>2.550</span> Unterschriften bis <span id='js-next-level'>15k</span>
            </p>
            <div class="progress mx-2 bg-white">
              <div id='js-progressbar-current' class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        
        <div id="mauticform_wrapper_prokopetition"
             class="mauticform_wrapper p-3"
             style="background: rgb(230, 230, 230)">
          <form autocomplete="false" role="form" method="post" action="https://mautic.bewegung.jetzt/form/submit?formId=9" id="mauticform_prokopetition"  data-mautic-form="prokopetition" enctype="multipart/form-data">
            <div class="mauticform-error" id="mauticform_prokopetition_error"></div>
            <div class="mauticform-message" id="mauticform_prokopetition_message"></div>
            <div class="mauticform-innerform">
          <p class="text-center text-muted mt-2"><strong>Jetzt Unterzeichnen</strong></p>

                
              <div class="mauticform-page-wrapper mauticform-page-1 row" data-mautic-form-page="1">

                <div id="mauticform_prokopetition_vorname" class="mauticform-row mauticform-text mauticform-field-1 col-md-6  mt-2">
                    <input id="mauticform_input_prokopetition_vorname" name="mauticform[vorname]" value="" placeholder="Vorname" class="mauticform-input form-control" type="text" />
                    <span class="mauticform-errormsg" style="display: none;"></span>
                </div>

                <div id="mauticform_prokopetition_nachn" class="mauticform-row mauticform-text mauticform-field-2 mauticform-required col-md-6  mt-2" data-validate="nachn" data-validation-type="text">
                    <input id="mauticform_input_prokopetition_nachn" name="mauticform[nachn]" value="" placeholder="Nachname" class="mauticform-input form-control" type="text" />
                    <span class="mauticform-errormsg" style="display: none;">Erforderlich</span>
                </div>

                <div id="mauticform_prokopetition_postleitzahl" class="mauticform-row mauticform-text mauticform-field-3 mauticform-required col-md-4 mt-2" data-validate="postleitzahl" data-validation-type="text">
                    <input id="mauticform_input_prokopetition_postleitzahl" name="mauticform[postleitzahl]" value="" placeholder="PLZ" class="mauticform-input form-control" type="text" />
                    <span class="mauticform-errormsg" style="display: none;">Erforderlich</span>
                </div>

                <div id="mauticform_prokopetition_stadt" class="mauticform-row mauticform-text mauticform-field-4 mauticform-required col-md-8 mt-2" data-validate="stadt" data-validation-type="text">
                    <input id="mauticform_input_prokopetition_stadt" name="mauticform[stadt]" value="" placeholder="Ort" class="mauticform-input form-control" type="text" />
                    <span class="mauticform-errormsg" style="display: none;">Erforderlich</span>
                </div>

                <div id="mauticform_prokopetition_email" class="mauticform-row mauticform-email mauticform-field-3 mauticform-required mt-2 col-md-12" data-validate="email" data-validation-type="email">
                    <input id="mauticform_input_prokopetition_email" name="mauticform[email]" value="" placeholder="E-Mail Adresse" class="mauticform-input form-control" type="email" />
                    <span class="mauticform-errormsg" style="display: none;">Erforderlich</span>
                </div>

                <div id="mauticform_prokopetition_optionen" class="mauticform-row mauticform-checkboxgrp mauticform-field-4 col-md-12 mt-2 text-muted">
                        <label id="mauticform_checkboxgrp_label_optionen_prokonewsletter0" for="mauticform_checkboxgrp_checkbox_optionen_prokonewsletter0" class="mauticform-checkboxgrp-label">
                            <input  class="mauticform-checkboxgrp-checkbox " checked name="mauticform[optionen][]" id="mauticform_checkboxgrp_checkbox_optionen_prokonewsletter0" type="checkbox" value="proko-newsletter" />
                            <small>Bitte haltet mich auf dem Laufenden</small>
                        </label><br/>
                        <label id="mauticform_checkboxgrp_label_optionen_publicsignature1" for="mauticform_checkboxgrp_checkbox_optionen_publicsignature1" class="mauticform-checkboxgrp-label">
                            <input  class="mauticform-checkboxgrp-checkbox " checked name="mauticform[optionen][]" id="mauticform_checkboxgrp_checkbox_optionen_publicsignature1" type="checkbox" value="public-signature" />
                            <small>Mein Unterschrift darf veröffentlicht werden</small>
                        </label>
                    <span class="mauticform-errormsg" style="display: none;"></span>
                </div>

                <div id="mauticform_prokopetition_submit"  class="mauticform-row mauticform-button-wrapper mauticform-field-5 col-md-12 my-2 text-right">
                    <button type="submit" name="mauticform[submit]" id="mauticform_input_prokopetition_submit" name="mauticform[submit]" value="" class="mauticform-button btn btn-primary" value="1">Unterzeichnen</button>
                </div>
                </div>
            </div>

            <input type="hidden" name="mauticform[formId]" id="mauticform_prokopetition_id" value="9"/>
            <input type="hidden" name="mauticform[return]" id="mauticform_prokopetition_return" value=""/>
            <input type="hidden" name="mauticform[formName]" id="mauticform_prokopetition_name" value="prokopetition"/>

          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-2 mb-5">
    <div class="col-md text-center">
      <p class="h4">Unterschreibe jetzt den progressiven Koalitionsvertrag!</p>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center pt-5">
    <div class="col-md-4">
      <a href="PDF">
        <img src="http://gnunicorn.org/ebooks/saas-book-cover.jpg" alt="Cover des Progressiven Koalitionsvertrag" class="w-100">
      </a>
    </div>
    <div class="col-md-6">
      <strong>Jetzt lesen!</strong>
      <h3 class="mb-4">Die Progressive Koalition</h3>
      <p class="text-muted">
        Monate sind seit der Bundestagswahl vergangen. Jetzt raufen sich Union und SPD zusammen und wollen es nochmal mit der GroKo versuchen. Neue Ideen, mutige Lösungen und Visionen? Fehlanzeige!
      </p>
      <p class="text-muted">
        Die einzige lautstarke Alternative zum „Weiter so“ der GroKo kommt von rechts. Nationalistisch. Rassistisch. Rückwärtsgewandt. Wir wollen zeigen, dass es auch anders geht! Es gibt so viele progressive Kräfte mit starken Ideen für die Gesellschaft der Zukunft. Gebündelt und vernetzt stehen diese Ideen für den Wandel, den wir <em>jetzt</em> einleiten.
      </p>
      <p>Hier sind die Forderungen unserer progressiven Koalitionspartner.</p>
      <ul class="mt-4 list-unstyled list-inline">
        <li class="list-inline-item"><a href="" class="btn btn-outline-primary">Online lesen (HTML)</a></li>
        <li class="list-inline-item"><a href="">PDF</a></li>
        <li class="list-inline-item"><a href="">ePub (eBook)</a></li>
      </ul>
      
    </div>
  </div>
</div>

<div class="container beteiligte mt-5 ">
  <div class="row">
    <h3 class="col-md-3 mt-5 pb-2 mb-2 border-left border-primary">Schon dabei</h3>
  </div>
  <div class="row justify-content-center align-items-center mt-4">
    <div class="col-md-3 mb-3">
      <a href="https://bewegung.jetzt/">
        <img src="/assets/images/logos/dib_logo.svg" alt="Logo von DEMOKRATIE IN BEWEGUNG." />
      </a>

    </div>
    <div class="col-md-2 mb-3">
      <a href="http://theeuropeanmoment.eu/">
        <img src="/assets/images/logos/tem.gif" alt="Logo von The European Momement." />
      </a>
    </div>

    <div class="col-md-2 mb-3 text-center">
      <a href="http://www.sea-watch.org/">
        <img src="/assets/images/logos/sea-watch.png"  style="width: 75%" alt="Logo von Sea-Watch." />
      </a>
    </div>
    <div class="col-md-2 mb-3">
      <a href="http://www.lsvd.de/">
        <img src="/assets/images/logos/lsvd.png" alt="Logo vom Lesben- und Schwulenverband." />
      </a>
    </div>
    <div class="col-md-3 mb-3">
      <a href="http://www.bus-der-begegnungen.de">
        <img src="/assets/images/logos/bdb.png" alt="Logo vom Bus der Begegnungen." />
      </a>
    </div>
  </div>
  <div class="row justify-content-center align-items-center ">
    <div class="col-md-3 mb-3">
      <a href="http://buergerkomitee-mainz.de/">
        <img src="/assets/images/logos/bkandidaten.jpg" alt="Logo von Bürgerkomitee Mainz." />
      </a>
    </div>
    <div class="col-md-1 mb-3">
      <a href="https://www.kleinerfuenf.de/">
        <img src="/assets/images/logos/k5.png" alt="Logo von Kleiner Fünf." />
      </a>
    </div>
    <div class="col-md-3 mb-3">
      <a href="https://www.wohnsinn.org/">
        <img src="/assets/images/logos/wohnsinn.png" alt="Logo von Wohnsinn." />
      </a>
    </div>
    <div class="col-md-2 mb-3">
      <a href="https://frauengegendieafd.org/">
        <img src="/assets/images/logos/fgafd.png" alt="Logo von Frauen Gegen AfD." />
      </a>
    </div>
    <div class="col-md-3 mb-3">
      <a href="https://www.democracy-international.org/de">
        <img src="/assets/images/logos/di.png" alt="Logo von Democracy International." />
      </a>
    </div>
  </div>
  <div class="row justify-content-center align-items-center ">
    <div class="col-md-3 mb-3 text-center">
      <a href="http://www.ökoligenta.de/">
        <img src="/assets/images/logos/logo_oekoligenta_gruen.png"  alt="Logo von Ökoligenta." />
      </a>
    </div>
    <div class="col-md-3 mb-3">
      <a href="http://www.urbane.de/">
        <img src="/assets/images/logos/urbane.png" alt="Logo von Die Urbane." />
      </a>
    </div>
    <div class="col-md-3 mb-3">
      <a href="https://www.ecogood.org/de/">
        <img src="/assets/images/logos/GWOE_Deutschland_WEB.png" alt="Logo von Gemeinwohlökonomie Deutschland." />
      </a>
    </div>
    <div class="col-md-3 mb-3">
      <a href="http://www.kartevonmorgen.org/">
        <img src="/assets/images/logos/151216_vonmorgen_logo.jpg" alt="Logo von 'von morgen'." />
      </a>
    </div>
  </div>
  <div class="row justify-content-center align-items-center ">
    <div class="col-md-2 mb-3 text-center">
      <a href="http://diem25berlin.org/">
        <img src="/assets/images/logos/diem.png" style="width: 75%" alt="Logo von DIEM25 Berlin." />
      </a>
    </div>
    <div class="col-md-3 mb-3">
      <a href="http://www.ideenhochdrei.org/de/">
        <img src="/assets/images/logos/ideen_hoch_drei.jpg" alt="Logo von Ideen Hoch Drei." />
      </a>
    </div>
    <div class="col-md-2 mb-3">
      <a href="https://www.wertedemokratie.eu/">
        <img src="/assets/images/logos/allwedo.png" alt="Logo der Allianz für WERTEorientierte Demokratie." />
      </a>
    </div>
    <div class="col-md-2 mb-3">
      <a href="http://cubeyourtake.eu/">
        <img src="/assets/images/logos/cube.png" alt="Logo vom Cube." />
      </a>
    </div>
    <div class="col-md-2 mb-3">
      <a href="http://bildungsagenten.org/">
        <img src="/assets/images/logos/bildungsagenten.jpg" alt="Logo von Bildungsagenten." />
      </a>
    </div>
  </div>
  <div class="row justify-content-center align-items-center ">
    <div class="col-md-2 mb-3 text-center">
      <a href="https://www.icanw.de/">
        <img src="/assets/images/logos/ican-logo.png" alt="Logo von ICAN." />
      </a>
    </div>
    <div class="col-md-1 mb-3">
      <a href="http://abilitywatch.de/">
        <img src="/assets/images/logos/logoabilitywatch.png" alt="Logo von AbilityWatch." />
      </a>
    </div>
    <div class="col-md-3 mb-3">
      <a href="https://selbstbestimmungspartei.de/">
        <img src="/assets/images/logos/Selbstbestimmungspartei.png" alt="Logo vom Cube." />
      </a>
    </div>
    <div class="col-md-2 mb-3">
      <a href="https://www.bundesschuelerkonferenz.com/">
        <img src="/assets/images/logos/bundeschuelerkonferenz.jpg" alt="Logo der Bundesschülerkonferenz." />
      </a>
    </div>
  </div>
  <div class="row justify-content-center align-items-center ">
    <div class="col-md-3 mb-3 text-center">
      <a href="http://mimycri.de/">
        <img src="/assets/images/logos/Mimycri.jpeg" alt="Logo von Mimycri." />
      </a>
    </div>
    <div class="col-md-3 mb-3">
      <a href="https://www.grundeinkommen.de/">
        <img src="/assets/images/logos/Grundeinkommen.png" alt="Logo von Netzwerk Grundeinkommen." />
      </a>
    </div>
  </div>
  <div class="row justify-content-center align-items-center mb-4">
    <div class="col-md-3">
      <button class="btn btn-outline-primary" data-toggle="modal" data-target="#signupModal">Koalitions-Partner werden</button>
    </div>
  </div>
</div>



<div class="" style="background-color: #238c84">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 mt-5">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QAoJsO7ToOo?rel=0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5" style="background-image: url(/assets/images/backdrops/thomas-somme-220647-bw.jpg); background-size: cover; background-position: right bottom; min-height: 400px">

  <div class="container mt-5 text-white">
    <div class="row">
      <h3 class="col-md-3 mt-5 pb-2 border-left border-primary">Neuigkeiten</h3>
    </div>
    <div class="row justify-content-start mt-4">
        <div class="col-md-10">
        {% assign post = posts|first%}
        <span class="text-muted">{{post.published_date | date:"%d.%m.%Y"}}</span>
        <a href="{{post.path}}"><h4>{{post.title}}</h4></a>
        {{post.excerpt}}
        <p class="text-right"><a href="{{post.path}}" class="btn btn-outline-light btn-sm">weiterlesen</a></p>
      </div>
    </div>
    <div class="row justify-content-start py-3" style="font-size: 0.85em">
      <div class="mr-2">Weitere Neuigkeiten: </div>
        <ul class="list-unstyled">
          {% for post in posts %}
            {% unless forloop.first %}
              <li> <a title="Post vom {{post.published_date | date:"%d.%m.%Y"}}" href="{{post.path}}">{{post.title}}</a></li>
            {% endunless %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="signupModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">

    <form autocomplete="false" role="form" method="post" action="https://mautic.bewegung.jetzt/form/submit?formId=8" id="mauticform_prokosignup"  data-mautic-form="prokosignup" enctype="multipart/form-data">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Koalitions Partner werden</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div id="mauticform_wrapper_prokosignup" class="mauticform_wrapper">
                <div class="mauticform-innerform container text-muted"> 
                  <div class="mauticform-page-wrapper mauticform-page-1 row mb-4" data-mautic-form-page="1">
                    <div class="mauticform-error  col-md-12 " id="mauticform_prokosignup_error"></div>
                    <div class="mauticform-message col-md-12 " id="mauticform_prokosignup_message"></div>

                    <div id="mauticform_prokosignup_vorname" class="mauticform-row mauticform-text mauticform-field-1 col-md-6  mt-2">
                        <input id="mauticform_input_prokosignup_vorname" name="mauticform[vorname]" value="" placeholder="Vorname" class="mauticform-input form-control" type="text" />
                        <span class="mauticform-errormsg" style="display: none;"></span>
                    </div>

                    <div id="mauticform_prokosignup_nachn" class="mauticform-row mauticform-text mauticform-field-2 mauticform-required col-md-6  mt-2" data-validate="nachn" data-validation-type="text">
                        <input id="mauticform_input_prokosignup_nachn" name="mauticform[nachn]" value="" placeholder="Nachname" class="mauticform-input form-control" type="text" />
                        <span class="mauticform-errormsg" style="display: none;">Erforderlich</span>
                    </div>

                    <div id="mauticform_prokosignup_email" class="mauticform-row mauticform-email mauticform-field-3 mauticform-required col-md-6  mt-2" data-validate="email" data-validation-type="email">
                        <input id="mauticform_input_prokosignup_email" name="mauticform[email]" value="" placeholder="E-Mail Adresse" class="mauticform-input form-control" type="email" />
                        <span class="mauticform-errormsg" style="display: none;">Erforderlich</span>
                    </div>

                    <div id="mauticform_prokosignup_telefon" class="mauticform-row mauticform-text mauticform-field-4 col-md-6  mt-2">
                        <input id="mauticform_input_prokosignup_telefon" name="mauticform[telefon]" value="" placeholder="ggf. Telefonnummer" class="mauticform-input form-control" type="text" />
                        <span class="mauticform-errormsg" style="display: none;"></span>
                    </div>

                    <div id="mauticform_prokosignup_organisation" class="mauticform-row mauticform-text mauticform-field-5 col-md-12 mt-2">
                        <input id="mauticform_input_prokosignup_organisation" name="mauticform[organisation]" value="" placeholder="(ggf.) Organisation" class="mauticform-input form-control" type="text" />
                        <span class="mauticform-errormsg" style="display: none;"></span>
                    </div>

                    <div id="mauticform_prokosignup_optionen" class="mauticform-row mauticform-checkboxgrp mauticform-field-6 col-md-12 my-3">
                            <label id="mauticform_checkboxgrp_label_optionen_koalition0" for="mauticform_checkboxgrp_checkbox_optionen_koalition0" class="mauticform-checkboxgrp-label">
                                <input  class="mauticform-checkboxgrp-checkbox" name="mauticform[optionen][]" id="mauticform_checkboxgrp_checkbox_optionen_koalition0" type="checkbox" value="koalition" />
                                Bitte kontaktiert mich bezüglich einer Teilnahme meiner Organisation an der Koalition
                            </label>
                            <label id="mauticform_checkboxgrp_label_optionen_newsletter1" for="mauticform_checkboxgrp_checkbox_optionen_newsletter1" class="mauticform-checkboxgrp-label">
                                <input  class="mauticform-checkboxgrp-checkbox" name="mauticform[optionen][]" id="mauticform_checkboxgrp_checkbox_optionen_newsletter1" type="checkbox" value="newsletter" />
                                Bitte haltet mich bezüglich der ProKo auf dem Laufenden
                            </label>
                        <span class="mauticform-errormsg" style="display: none;"></span>
                    </div>

                    <div id="mauticform_prokosignup_nachricht" class="mauticform-row mauticform-text mauticform-field-7 col-md-12 mt-3 mb-2">
                        <label id="mauticform_label_prokosignup_nachricht" for="mauticform_input_prokosignup_nachricht" class="mauticform-label">Nachricht</label><br/>
                        <span class="mauticform-helpmessage"><small>Gibt es sonst noch etwas, was Du uns an dieser Stelle mitteilen möchtest?</small></span>
                        <textarea id="mauticform_input_prokosignup_nachricht" name="mauticform[nachricht]" class="mauticform-textarea form-control"></textarea>
                        <span class="mauticform-errormsg" style="display: none;"></span>
                    </div>
                  </div>
                </div>

                <input type="hidden" name="mauticform[formId]" id="mauticform_prokosignup_id" value="8"/>
                <input type="hidden" name="mauticform[return]" id="mauticform_prokosignup_return" value=""/>
                <input type="hidden" name="mauticform[formName]" id="mauticform_prokosignup_name" value="prokosignup"/>

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" name="mauticform[submit]" id="mauticform_input_prokosignup_submit" name="mauticform[submit]" value="" class="mauticform-button btn btn-primary" value="1">Abschicken</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  (function() {
    var UPDATE_URL = 'http://localhost:5000/mauticor/petition_info/proko.json';
    function text_format(n) {
      return String(n).replace(/( )(?=(\d{3})+$)/g,'$1,')
    }
    function refresh_state() {
      $.getJSON(UPDATE_URL).then((resp) => {
        var total = parseInt(resp.total);
        var next = 1000000;
        var next_pretty = "1M"
        if ((total) > 100000) {

        } else if (total > 50000) { // 50.000
          next = 100000
          next_pretty = "100k"
        } else if (total > 25000) {
          next = 50000
          next_pretty = "50k"
        } else if (total > 15000) {
          next = 25000
          next_pretty = "25k"
        } else if (total > 10000) {
          next = 15000
          next_pretty = "15k"
        } else if (total > 5000) {
          next = 10000
          next_pretty = "10k"
        } else if (total > 3000) {
          next = 5000
          next_pretty = "5k"
        } else if (total > 2000) {
          next = 3000
          next_pretty = "3k"
        } else if (total > 1000) {
          next = 2000
          next_pretty = "2k"
        } else if (total > 500) {
          next = 1000
          next_pretty = "1k"
        } else {
          total = 751
          next = 1000
          next_pretty = "1k"
        }
        $("#js-cur_label").html(text_format(total));
        $("#js-remaining").html(text_format(next - total));
        $("#js-next-level").html(next_pretty);
        $("#js-progressbar-current").css({width: (total * 100 / next) + "%"});
      })
    }
    $(refresh_state);
  })()
</script>
<script type="text/javascript">
    /** This section is only needed once per page if manually copying **/
    if (typeof MauticSDKLoaded == 'undefined') {
        var MauticSDKLoaded = true;
        var head            = document.getElementsByTagName('head')[0];
        var script          = document.createElement('script');
        script.type         = 'text/javascript';
        script.src          = 'https://mautic.bewegung.jetzt/media/js/mautic-form.js';
        script.onload       = function() {
            MauticSDK.onLoad();
        };
        head.appendChild(script);
        var MauticDomain = 'https://mautic.bewegung.jetzt';
        var MauticLang   = {
            'submittingMessage': "Bitte warten..."
        }
    }
</script>

      </div>
    </div>
  </div>
</div>
